.post, .page {
  margin-bottom: 3rem;
}

img {
  max-width: 100%;
  border-radius: 0;
}

.citation {
  text-align: right;
  display: block;
  margin-top: 0.5rem;

  cite::before {
    content: '\2014 ';
  }
}

abbr.subtle {
  font-size: 100%;
  font-weight: normal;
  text-transform: none;
  border-bottom-color: #d5d5d5;
  cursor: default;
}

.message,
.highlight pre {
  border-radius: 4px;
  background-color: #f6f6f6;
}

.footnotes {
  font-size: 90%;
  margin: 2rem 0 -2rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
}

.no-footnotes {

  a.footnote,
  .footnotes {
    display: none;
  }
}

#projects {

  & ul {
    list-style: none;
    padding: 0;
  }

  & small {
    font-size: 80%;
    text-indent: 1rem;
    display: block;
    margin-top: 0.125rem;
  }

  & a.project-link {
    color: #313131;
    font-size: 150%;
    line-height: 0;
    text-decoration: none;
    margin-top: -0.125rem;
    float: right;
    transition: color linear 150ms;

    &:hover {
      color: #268bd2;
    }
  }
}

.social:not(.footer) {
  margin: 2rem 0;
}

.social-row {
  text-align: center;
  line-height: 1;
  margin-bottom: 0.5rem;

  a {
    margin: 0 0.25rem;
    cursor: pointer;

    img {
      display: inline;
      margin: 0;
      width: 2.75rem;

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
