// Custom styles for things other than main content
// (i.e. header, footer, sidebar)

// Header
.masthead {
  margin-bottom: 2rem;
}

.masthead-title {

  img {
    display: inline;
    margin: -0.6rem 0.5rem -1rem 0;
    width: 3rem;
    border-radius: 3rem;
  }

  small {
    margin-left: 0.125rem;
  }
}

//Sidebar
.sidebar-nav-separator {
  display: block;
  border-top: 0.175rem solid rgba(255, 255, 255, 0.2);
}

.sidebar-nav-item .devicons {
  font-size: 150%;
  position: relative;
  top: 0.2rem;
  margin-right: 0.125rem;
}

.sidebar-item p:not(:nth-last-child(2)) {
  margin-bottom: 0.5rem;
}

//Footer
footer {
  margin-bottom: 2em;

  a.atom-feed img {
    display: inline;
    margin-bottom: 0;
    position: relative;
    top: 0.25rem;
    width: 1rem;
  }
}

.social.footer {

  .social-row {
    text-align: center;
    margin: 0;

    a {
      margin: 0 0.125rem;
    }

    img {
      position: relative;
      top: -0.25rem;
      width: 2rem;
    }
  }
}

@media (min-width: 56rem) {
  .social.footer {
    float: right;

    .social-row {
      text-align: right;
    }
  }
}
