# Node
node_modules/
npm-debug.log

# Code coverage
.nyc_output/
coverage/

_site/

# Intermediate build files
site/assets/stylesheets/style.min.css
site/assets/stylesheets/birthday.min.css
site/assets/stylesheets/party.min.css
src/assets/javascript/party.js
site/assets/javascript/party.js
src/assets/javascript/party.map
site/assets/javascript/party.map
site/party/index.html
